@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&display=swap');
@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";
@import "leaflet-defaulticon-compatibility";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.icconn:hover{
  margin-left: ;
}

body {
  color: black;
  background: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* styles.css */
.map {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: red;
  color: #fff;
}


.custom-shape-divider-top-1705851517 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705851517 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 195px;
}

